<%= render 'layouts/errors', obj: @order %>

<!--ヘッダー追記-->

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <h2>注文履歴詳細</h2>
  </div>
  <div class='row'>
    <div class='col-md-7'>
      <h4>注文情報</h4>

    </div>
  </div>
</div>