<footer class="fixed-bottom  bg-warning text-light" style="height: 30px; bottom: 0px;">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>© All rights reserved by nagano-cake</p>
    	</div>
    </div>
  </div>
</footer>